@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
    color: #A06632;
}

body {
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* 스크롤 따라오게 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: url("./hwangjiwon_inquiry_background_computer-01.jpg");
  background-size: 100vw auto;
  background-repeat: repeat-y;

  opacity: 0.3; /* ← 배경만 투명도 조절 */
  z-index: -1;  /* 콘텐츠 뒤로 */
}

.groomi_box {
    width: 50vw;
    height: 50vw;
    margin-left: 25vw;
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_box{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_box_mobile{
    display: none;
}

@media (max-width: 768px){
    .logo_box_pc{
        display: none;
    }
    .logo_box_mobile{
        display: block;
    }
}


.title_box {
    width: 50vw;
    height: 5vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 25vw;
    background-color: #B5E5E1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #e0f7f5;
}

.title_box:hover{
    background-color: #e0f7f5;
    border-color: #b5e5e1;
}

.title_box>h2 {
    font-size: 1.5vw;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.box_five {
    margin-bottom: 5vw;
}

.main_page {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: azure;
    display: none;
    z-index: 1;
}

.box_one_main.on {
    display: block;
}

.main_button {
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
    position: absolute;
    top: 10vw;
    left: 10vw;
    background-color: black;
    cursor: pointer;
}

.box_two_main.on {
    display: block;
}

.box_three_main.on {
    display: block;
}

.box_four_main.on {
    display: block;
}

.box_five_main.on {
    display: block;
}
